{
  "jobs": {
    "build": {
      "name": "build machines",
      "needs": "checks",
      "runs-on": "ubuntu-24.04",
      "steps": [
        {
          "run": "sudo mkdir /nix\n"
        },
        {
          "name": "Remove unused toolkits",
          "run": "sudo rm -rf $AGENT_TOOLSDIRECTORY\nsudo rm -rf /usr/local/.ghcup\nsudo rm -rf /usr/local/share/powershell\nsudo rm -rf /usr/local/share/chromium\nsudo rm -rf /usr/local/lib/node_modules\nsudo rm -rf /usr/local/lib/heroku\nsudo rm -rf /var/lib/docker/overlay2\nsudo rm -rf /home/linuxbrew\nsudo rm -rf /home/runner/.rustup\n"
        },
        {
          "name": "Maximize disk space",
          "uses": "easimon/maximize-build-space@v10",
          "with": {
            "build-mount-path": "/nix",
            "remove-android": "true",
            "remove-codeql": "true",
            "remove-docker-images": "true",
            "remove-dotnet": "true",
            "remove-haskell": "true",
            "root-reserve-mb": 16384,
            "swap-size-mb": 1024
          }
        },
        {
          "run": "sudo chown root:root /nix\n"
        },
        {
          "name": "Checkout repository",
          "uses": "actions/checkout@v4"
        },
        {
          "name": "Create attic netrc",
          "run": "sudo mkdir -p /etc/nix\necho \"machine attic-cache.fly.dev password ${{ secrets.ATTIC_KEY }}\" | sudo tee /etc/nix/netrc > /dev/null\ngit config --global url.\"https://${{ secrets.GH_TOKEN_FOR_UPDATES }}@github.com\".insteadOf https://github.com\n"
        },
        {
          "name": "Install nix",
          "uses": "DeterminateSystems/nix-installer-action@v13",
          "with": {
            "extra-conf": "fallback = true\nhttp-connections = 128\nmax-substitution-jobs = 128\nconnect-timeout = 15\nstalled-download-timeout = 15\ndownload-attempts = 100\nsubstituters = https://nix-community.cachix.org/ https://chaotic-nyx.cachix.org/ https://cache.nixos.org/ https://helix.cachix.org https://yazi.cachix.org https://anyrun.cachix.org https://hyprland.cachix.org https://nix-gaming.cachix.org https://prismlauncher.cachix.org https://attic-cache.fly.dev/system?priority=50\ntrusted-public-keys = nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= chaotic-nyx.cachix.org-1:HfnXSw4pj95iI/n17rIDy40agHj12WfF+Gqk6SonIT8= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= helix.cachix.org-1:ejp9KQpR1FBI2onstMQ34yogDm4OgU2ru6lIwPvuCVs= yazi.cachix.org-1:Dcdz63NZKfvUCbDGngQDAZq6kOroIrFoyO064uvLh8k= anyrun.cachix.org-1:pqBobmOjI7nKlsUMV25u9QHa9btJK65/C8vnO3p346s= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc= nix-gaming.cachix.org-1:nbjlureqMbRAxR1gJ/f3hxemL9svXaZF/Ees8vCUUs4= prismlauncher.cachix.org-1:9/n/FGyABA2jLUVfY+DEp4hKds/rwO+SCOtbOkDzd+c= system:XwpCBI5UHFzt9tEmiq3v8S062HvTqWPUwBR8PoHSfSk=\n",
            "github-token": "${{ secrets.GH_TOKEN_FOR_UPDATES }}"
          }
        },
        {
          "name": "Install SSH key",
          "uses": "webfactory/ssh-agent@v0.9.0",
          "with": {
            "ssh-private-key": "${{ secrets.SSH_PRIVATE_KEY }}"
          }
        },
        {
          "name": "Login to attic",
          "run": "nix run nixpkgs#attic-client login fly https://attic-cache.fly.dev ${{ secrets.ATTIC_KEY }}\n"
        },
        {
          "name": "Build system",
          "run": "nix build .#nixosConfigurations.${{ matrix.machine.host }}.config.system.build.toplevel\n"
        },
        {
          "continue-on-error": true,
          "name": "Push to attic",
          "run": "nix run nixpkgs#attic-client push system result -j 3\n"
        }
      ],
      "strategy": {
        "fail-fast": false,
        "matrix": {
          "machine": [
            {
              "host": "minish",
              "platform": "x86-64-linux"
            },
            {
              "host": "link",
              "platform": "x86-64-linux"
            },
            {
              "host": "marin",
              "platform": "x86-64-linux"
            }
          ]
        }
      }
    },
    "checks": {
      "secrets": "inherit",
      "uses": "./.github/workflows/check.yaml"
    }
  },
  "name": "CI",
  "on": {
    "pull_request": {},
    "push": {
      "branches": [
        "main"
      ]
    },
    "workflow_dispatch": {}
  }
}
